.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 8%;
}
.ecomm{
    color: blueviolet;
    text-decoration: none;
}
.nav-search{
    flex: 1;
    display: flex;
    margin-left: 8%;
    border: 1px solid blueviolet;
}
.nav-search input{
    flex: 1;
    height: 35px;
    border: none;
}
.nav-search button{
    border: none;
}
.nav-search button:hover{
    font-weight: bold;
}
.list{
    display: flex;
}
.list li{
    list-style-type: none;
    margin-left: 8%;
}
.list li a{
    text-decoration: none;
    color: blueviolet;
}

.suggested-result{
    position: absolute;
    display: list-item !important;
    z-index: 10;
    background-color: #fff;
    width: 300px;
    top: 40px;
    border: 1px solid #ddd;
    list-style-type: none;
}
.suggested-result li{
    border: 1px solid #ffff;
    padding: 5px;
    list-style-type: none;
}
.suggested-result li a:hover{
    cursor: pointer;
    font-weight: bold;
}