.signup{
    text-align: center;
    width: 30vw;
    display: flex;
    margin: auto;
    flex-direction: column;
    color: blueviolet;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    padding: 1.5rem;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
}

.common-form{
    text-align: center;
    display: flex;
    /* margin: auto; */
    flex-direction: column;
    width: 100%;
}
.common-form input , textarea{
    height: 2rem;
    margin-bottom: 1.5rem;
    border: 1.4px solid blueviolet;
    border-radius: 4px;
}
.common-form button{
    height: 2.1rem;
    border: 1.4px solid blueviolet;
    color: blueviolet;
    border-radius: 4px;
}
.common-form button:hover{
    font-weight: bold;
    cursor: pointer;
}