<div class="row product-details" *ngIf="productData">
  <div class="col-sm-6">
    <img class="product-image" src="{{ productData.image }}" alt="Image" />
  </div>
  <div class="col-sm-6">
    <div class="details">
      <h1>{{ productData.name }}</h1>
      <h3>Price : {{ productData.price }}</h3>
      <div>
        Color : {{productData.color}}
        <h5
          [style.backgroundColor]="productData.color"
          class="product-color"
        ></h5>
      </div>
      <h6>Category : {{ productData.category }}</h6>
      <h6>Discription : {{ productData.description }}</h6>
      <button class="cursor first" (click)="addToCart()">Add to Cart</button>
      <button class="cursor first">Buy Now</button>
      <span class="second">
        <button class="cursor" (click)="countProduct('dec')">-</button>
        {{count}}
        <button class="cursor" (click)="countProduct('inc')">+</button>
      </span >
    </div>
  </div>
</div>
